* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#span-conteiner {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 20px;
    text-align: center;

}

.card {
    background-color: bisque;
    border: 2px black solid;
    margin: 10px;
    font-size: 30px;
    align-items: center;
    align-content: center;
    height: 140px;
    width: 140px;
    cursor: pointer;
}

#start {
    width: 120px;
    height: 40px;
    margin: 30px;
    background-color: green;
    cursor: pointer;
}

#score {
    font-size: 40px;
}

header {
    margin-top: 30px;
    text-align: center;
    width: fit-content;
}

#win {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.815);
    align-content: center;
    justify-content: center;
    align-items: center;
}

#divMessage {
    text-align: center;
    align-content: center;
    background-color: rgba(79, 107, 184, 0.856);
    font-size: 50px;
    width: fit-content;
}